In [ ]:
import warnings
warnings.filterwarnings('ignore')
import os
import numpy as np
import pandas as pd

from matplotlib import pyplot as plt
%matplotlib inline

import sklearn
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

from sklearn.linear_model import LinearRegression

import tensorflow as tf
from tensorflow import keras

from sklearn import preprocessing

Importing the dataframe

In [ ]:
from google.colab import files

In [ ]:
uploaded = files.upload()

Saving weatherdata.csv to weatherdata.csv

In [ ]:
for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

User uploaded file "weatherdata.csv" with length 19412 bytes

In [ ]:
uploaded

{'weatherdata.csv': b'Date,Time,Nairobi Temperature [2 m elevation corrected],Nairobi Relative Humidity [2 m],Nairobi Wind Speed [10 m],Nairobi Wind Direction [10 m]\r\n3/7/2021,12:00:00 AM,19.773151,53,9.220499,38.659805\r\n3/7/2021,1:00:00 AM,19.41315,54,8.707237,29.744873\r\n3/7/2021,2:00:00 AM,19.013151,55,8.373386,25.463333\r\n3/7/2021,3:00:00 AM,18.543152,57,7.729527,27.75853\r\n3/7/2021,4:00:00 AM,17.98315,59,7.10031,30.465546\r\n3/7/2021,5:00:00 AM,17.463152,61,7.289445,32.905228\r\n3/7/2021,6:00:00 AM,16.953152,64,6.763786,25.201126\r\n3/7/2021,7:00:00 AM,16.693151,66,6.2145634,10.00798\r\n3/7/2021,8:00:00 AM,18.213152,61,6.12,28.07248\r\n3/7/2021,9:00:00 AM,20.173151,57,9.957108,49.398697\r\n3/7/2021,10:00:00 AM,21.943151,52,12.7279215,61.2602\r\n3/7/2021,11:00:00 AM,23.66315,46,15.629971,61.073563\r\n3/7/2021,12:00:00 PM,25.24315,41,17.068707,62.354027\r\n3/7/2021,1:00:00 PM,26.513151,36,18.514643,63.43495\r\n3/7/2021,2:00:00 PM,27.05315,32,18.998316,62.9494\r\n3/7/2021,3:00:00 PM,27.343151,36,21.178896,58.20108\r\n3/7/2021,4:00:00 PM,27.16315,37,20.497883,59.381393\r\n3/7/2021,5:00:00 PM,26.453152,38,20.63023,60.751175\r\n3/7/2021,6:00:00 PM,25.72315,39,20.288164,62.52556\r\n3/7/2021,7:00:00 PM,24.593151,42,18.532133,65.92449\r\n3/7/2021,8:00:00 PM,23.48315,45,18.25026,67.98871\r\n3/7/2021,9:00:00 PM,22.49315,48,15.778518,62.85031\r\n3/7/2021,10:00:00 PM,21.353151,50,14.20062,59.534447\r\n3/7/2021,11:00:00 PM,20.56315,53,12.313894,52.125008\r\n3/8/2021,12:00:00 AM,20.56315,53,11.720751,47.489548\r\n3/8/2021,1:00:00 AM,20.14315,55,10.691453,44.999985\r\n3/8/2021,2:00:00 AM,19.22315,58,9.931042,46.468796\r\n3/8/2021,3:00:00 AM,18.74315,60,9.290511,54.46232\r\n3/8/2021,4:00:00 AM,18.193151,63,10.00256,59.74356\r\n3/8/2021,5:00:00 AM,17.683151,66,8.161764,48.576324\r\n3/8/2021,6:00:00 AM,17.24315,69,6.9153743,38.659805\r\n3/8/2021,7:00:00 AM,17.013151,71,6.6087217,29.357742\r\n3/8/2021,8:00:00 AM,18.213152,67,8.4963045,36.38434\r\n3/8/2021,9:00:00 AM,19.923151,62,9.422101,43.451828\r\n3/8/2021,10:00:00 AM,21.693151,55,11.792404,58.736267\r\n3/8/2021,11:00:00 AM,23.39315,49,14.168641,62.783897\r\n3/8/2021,12:00:00 PM,24.91315,45,15.778518,62.85031\r\n3/8/2021,1:00:00 PM,26.16315,36,17.906157,59.82647\r\n3/8/2021,2:00:00 PM,26.873152,32,19.022177,60.524117\r\n3/8/2021,3:00:00 PM,26.97315,34,20.26899,56.592163\r\n3/8/2021,4:00:00 PM,26.90315,35,20.87379,57.680374\r\n3/8/2021,5:00:00 PM,26.463152,36,21.120682,60.37625\r\n3/8/2021,6:00:00 PM,25.56315,38,20.288164,62.52556\r\n3/8/2021,7:00:00 PM,24.213152,42,17.072504,65.0561\r\n3/8/2021,8:00:00 PM,23.213152,47,15.978484,67.47943\r\n3/8/2021,9:00:00 PM,21.75315,53,14.658676,65.323135\r\n3/8/2021,10:00:00 PM,20.763151,55,12.4811535,56.768288\r\n3/8/2021,11:00:00 PM,20.23315,57,11.304229,52.76516\r\n3/9/2021,12:00:00 AM,19.783152,58,10.233123,50.7106\r\n3/9/2021,1:00:00 AM,19.433151,60,9.422101,46.54814\r\n3/9/2021,2:00:00 AM,19.00315,62,8.669949,41.63353\r\n3/9/2021,3:00:00 AM,19.07315,62,8.161764,48.576324\r\n3/9/2021,4:00:00 AM,18.513151,65,7.9036193,59.93141\r\n3/9/2021,5:00:00 AM,18.263151,66,6.638072,49.398697\r\n3/9/2021,6:00:00 AM,18.08315,68,6.1305785,40.236343\r\n3/9/2021,7:00:00 AM,17.623152,70,5.1919937,33.690063\r\n3/9/2021,8:00:00 AM,18.47315,68,7.2,36.86989\r\n3/9/2021,9:00:00 AM,19.99315,63,9.686609,41.987198\r\n3/9/2021,10:00:00 AM,21.603151,57,10.805998,60.018356\r\n3/9/2021,11:00:00 AM,23.113152,51,11.043261,70.97439\r\n3/9/2021,12:00:00 PM,24.513151,44,12.413476,73.141594\r\n3/9/2021,1:00:00 PM,25.703152,36,14.458382,71.113914\r\n3/9/2021,2:00:00 PM,26.543152,31,15.978484,67.47943\r\n3/9/2021,3:00:00 PM,27.013151,30,19.652176,61.557068\r\n3/9/2021,4:00:00 PM,26.853151,31,20.929594,63.43495\r\n3/9/2021,5:00:00 PM,26.353151,32,21.42227,65.1576\r\n3/9/2021,6:00:00 PM,25.49315,34,21.129885,66.92959\r\n3/9/2021,7:00:00 PM,24.043152,37,17.917007,67.55725\r\n3/9/2021,8:00:00 PM,22.82315,42,15.042659,68.962494\r\n3/9/2021,9:00:00 PM,21.593151,46,14.372974,67.9321\r\n3/9/2021,10:00:00 PM,20.593151,51,12.303366,69.443954\r\n3/9/2021,11:00:00 PM,19.57315,56,10.365251,69.67686\r\n3/10/2021,12:00:00 AM,19.31315,59,9.83268,66.250496\r\n3/10/2021,1:00:00 AM,18.603151,63,9.983106,64.358986\r\n3/10/2021,2:00:00 AM,17.953152,67,10.829958,68.55225\r\n3/10/2021,3:00:00 AM,17.113152,73,9.793058,72.89727\r\n3/10/2021,4:00:00 AM,16.363152,79,8.089993,69.14554\r\n3/10/2021,5:00:00 AM,16.183151,82,7.8954163,65.772255\r\n3/10/2021,6:00:00 AM,15.763151,86,8.217153,61.18921\r\n3/10/2021,7:00:00 AM,15.363151,90,8.942214,49.89908\r\n3/10/2021,8:00:00 AM,15.823151,89,10.009036,52.305756\r\n3/10/2021,9:00:00 AM,17.16315,82,11.609651,60.25511\r\n3/10/2021,10:00:00 AM,19.123152,69,13.584932,57.994614\r\n3/10/2021,11:00:00 AM,21.363152,55,14.693999,59.036255\r\n3/10/2021,12:00:00 PM,23.47315,45,16.904673,63.43495\r\n3/10/2021,1:00:00 PM,25.033152,37,19.319628,63.43495\r\n3/10/2021,2:00:00 PM,26.113152,32,21.096123,64.74683\r\n3/10/2021,3:00:00 PM,27.48315,25,22.226902,65.09524\r\n3/10/2021,4:00:00 PM,27.443151,26,22.461807,68.36911\r\n3/10/2021,5:00:00 PM,26.963152,26,22.79684,68.702644\r\n3/10/2021,6:00:00 PM,25.91315,29,21.868332,69.77514\r\n3/10/2021,7:00:00 PM,24.343151,33,17.58481,67.10944\r\n3/10/2021,8:00:00 PM,23.113152,39,15.137133,64.65382\r\n3/10/2021,9:00:00 PM,21.943151,44,14.33234,64.722275\r\n3/10/2021,10:00:00 PM,20.88315,49,13.049689,65.55604\r\n3/10/2021,11:00:00 PM,20.00315,54,11.269782,63.43495\r\n3/11/2021,12:00:00 AM,19.363152,59,10.495713,59.036232\r\n3/11/2021,1:00:00 AM,18.873152,63,10.1887,57.994614\r\n3/11/2021,2:00:00 AM,18.423151,66,10.630672,61.699234\r\n3/11/2021,3:00:00 AM,17.75315,70,9.511088,60.524117\r\n3/11/2021,4:00:00 AM,17.093151,75,8.435069,50.194427\r\n3/11/2021,5:00:00 AM,16.55315,78,7.491114,35.217575\r\n3/11/2021,6:00:00 AM,16.103151,80,6.763786,25.201126\r\n3/11/2021,7:00:00 AM,15.913151,81,6.151683,20.556046\r\n3/11/2021,8:00:00 AM,17.22315,78,7.145796,40.914368\r\n3/11/2021,9:00:00 AM,19.25315,70,11.384198,55.304832\r\n3/11/2021,10:00:00 AM,21.353151,60,14.81259,64.05769\r\n3/11/2021,11:00:00 AM,23.193151,50,16.92383,66.161255\r\n3/11/2021,12:00:00 PM,24.703152,44,17.447933,68.19859\r\n3/11/2021,1:00:00 PM,25.88315,41,18.331741,70.49754\r\n3/11/2021,2:00:00 PM,26.773151,34,19.353138,71.56504\r\n3/11/2021,3:00:00 PM,28.103151,28,22.427162,71.27421\r\n3/11/2021,4:00:00 PM,28.093151,25,22.206486,73.033844\r\n3/11/2021,5:00:00 PM,27.40315,28,21.758419,73.663956\r\n3/11/2021,6:00:00 PM,26.33315,30,21.068459,73.1132\r\n3/11/2021,7:00:00 PM,24.783152,34,16.394829,70.76932\r\n3/11/2021,8:00:00 PM,23.543152,38,14.24163,69.274445\r\n3/11/2021,9:00:00 PM,22.15315,42,14.458382,71.113914\r\n3/11/2021,10:00:00 PM,20.90315,47,13.207634,72.5528\r\n3/11/2021,11:00:00 PM,20.05315,51,12.303366,69.443954\r\n3/12/2021,12:00:00 AM,19.943151,53,11.440979,65.854454\r\n3/12/2021,1:00:00 AM,19.353151,56,11.440979,65.854454\r\n3/12/2021,2:00:00 AM,18.093151,62,11.298495,67.52056\r\n3/12/2021,3:00:00 AM,17.193151,68,10.00256,59.74356\r\n3/12/2021,4:00:00 AM,16.603151,74,8.913181,43.36342\r\n3/12/2021,5:00:00 AM,16.113152,79,8.78872,34.99202\r\n3/12/2021,6:00:00 AM,15.753151,82,7.9932966,35.837646\r\n3/12/2021,7:00:00 AM,15.663151,83,7.42159,39.09384\r\n3/12/2021,8:00:00 AM,16.763151,79,9.178235,48.179825\r\n3/12/2021,9:00:00 AM,18.843151,70,11.090103,54.2461\r\n3/12/2021,10:00:00 AM,21.08315,59,14.336861,61.50435\r\n3/12/2021,11:00:00 AM,23.343151,49,17.22742,63.970406\r\n3/12/2021,12:00:00 PM,25.183151,39,18.532133,65.92449\r\n3/12/2021,1:00:00 PM,26.57315,31,20.188908,68.008865\r\n3/12/2021,2:00:00 PM,27.533152,26,20.60823,70.61548\r\n3/12/2021,3:00:00 PM,27.82315,26,22.768398,71.56504\r\n3/12/2021,4:00:00 PM,27.683151,27,23.452555,72.1213\r\n3/12/2021,5:00:00 PM,27.05315,29,22.768398,71.56504\r\n3/12/2021,6:00:00 PM,25.933151,31,21.53089,69.443954\r\n3/12/2021,7:00:00 PM,24.453152,34,17.917007,67.55725\r\n3/12/2021,8:00:00 PM,23.263151,38,16.179985,69.14554\r\n3/12/2021,9:00:00 PM,21.89315,43,15.484185,72.40757\r\n3/12/2021,10:00:00 PM,20.66315,48,14.241629,73.85565\r\n3/12/2021,11:00:00 PM,19.853151,52,11.966953,68.83874\r\n3/13/2021,12:00:00 AM,19.293152,55,11.269782,63.43495\r\n3/13/2021,1:00:00 AM,18.66315,58,10.315115,60.751175\r\n3/13/2021,2:00:00 AM,18.05315,61,10.144082,62.52556\r\n3/13/2021,3:00:00 AM,17.38315,64,10.144082,62.52556\r\n3/13/2021,4:00:00 AM,16.773151,69,8.942214,49.89908\r\n3/13/2021,5:00:00 AM,16.30315,74,8.209263,37.87497\r\n3/13/2021,6:00:00 AM,15.883151,78,8.217153,28.810776\r\n3/13/2021,7:00:00 AM,15.673151,79,8.049845,26.565033\r\n3/13/2021,8:00:00 AM,16.97315,76,9.449572,40.364532\r\n3/13/2021,9:00:00 AM,18.80315,69,13.392774,53.746155\r\n3/13/2021,10:00:00 AM,20.923151,60,16.09969,63.43495\r\n3/13/2021,11:00:00 AM,22.89315,49,17.917007,67.55725\r\n3/13/2021,12:00:00 PM,24.443151,42,18.455048,69.443954\r\n3/13/2021,1:00:00 PM,25.673151,38,19.694992,71.89623\r\n3/13/2021,2:00:00 PM,26.47315,31,20.176065,74.47588\r\n3/13/2021,3:00:00 PM,27.75315,31,21.862406,72.75854\r\n3/13/2021,4:00:00 PM,27.63315,30,22.314194,72.14967\r\n3/13/2021,5:00:00 PM,26.99315,32,22.086521,70.97439\r\n3/13/2021,6:00:00 PM,25.90315,35,21.53089,69.443954\r\n3/13/2021,7:00:00 PM,24.433151,40,17.992796,70.11483\r\n3/13/2021,8:00:00 PM,23.713152,44,16.965895,72.7185\r\n3/13/2021,9:00:00 PM,22.873152,46,18.0036,78.46538\r\n3/13/2021,10:00:00 PM,21.25315,53,16.343367,82.40536\r\n3/13/2021,11:00:00 PM,20.56315,57,13.910169,79.56252\r\n3/14/2021,12:00:00 AM,19.443151,62,12.9249525,77.12499\r\n3/14/2021,1:00:00 AM,18.593151,66,12.496719,78.36636\r\n3/14/2021,2:00:00 AM,17.873152,70,11.252519,82.64761\r\n3/14/2021,3:00:00 AM,17.123152,75,8.905908,75.96376\r\n3/14/2021,4:00:00 AM,16.55315,81,7.24486,63.43495\r\n3/14/2021,5:00:00 AM,16.14315,84,6.8777895,47.121094\r\n3/14/2021,6:00:00 AM,15.97315,86,7.145796,40.914368\r\n3/14/2021,7:00:00 AM,16.00315,87,7.8954163,43.15239\r\n3/14/2021,8:00:00 AM,16.99315,82,9.726664,51.009003\r\n3/14/2021,9:00:00 AM,18.64315,74,12.24,61.927513\r\n3/14/2021,10:00:00 AM,20.83315,64,14.986553,65.89776\r\n3/14/2021,11:00:00 AM,22.82315,52,16.645864,68.42869\r\n3/14/2021,12:00:00 PM,24.623152,44,17.873554,71.2001\r\n3/14/2021,1:00:00 PM,25.773151,38,19.011953,71.22196\r\n3/14/2021,2:00:00 PM,26.593151,32,19.353138,71.56504\r\n3/14/2021,3:00:00 PM,28.49315,25,19.0392,74.64986\r\n3/14/2021,4:00:00 PM,28.32315,26,19.64558,76.2184\r\n3/14/2021,5:00:00 PM,27.75315,26,20.431387,75.718895\r\n3/14/2021,6:00:00 PM,26.73315,29,20.345573,76.70142\r\n3/14/2021,7:00:00 PM,25.263151,33,16.595179,77.47118\r\n3/14/2021,8:00:00 PM,23.963152,38,14.332341,78.40782\r\n3/14/2021,9:00:00 PM,22.343151,43,13.910169,79.56252\r\n3/14/2021,10:00:00 PM,21.273151,48,13.138765,80.537674\r\n3/14/2021,11:00:00 PM,20.66315,52,12.496719,78.36636\r\n3/15/2021,12:00:00 AM,19.593151,58,11.525623,75.52971\r\n3/15/2021,1:00:00 AM,18.58315,63,11.659777,81.11935\r\n3/15/2021,2:00:00 AM,17.533152,69,9.178235,78.69006\r\n3/15/2021,3:00:00 AM,16.65315,77,7.8954163,65.772255\r\n3/15/2021,4:00:00 AM,16.38315,82,7.491114,54.782394\r\n3/15/2021,5:00:00 AM,16.213152,86,9.085988,56.30993\r\n3/15/2021,6:00:00 AM,15.893151,89,8.435069,50.194427\r\n3/15/2021,7:00:00 AM,15.823151,90,7.42159,50.906143\r\n3/15/2021,8:00:00 AM,16.533152,87,7.2,53.130096\r\n3/15/2021,9:00:00 AM,18.263151,77,7.5942082,58.570435\r\n3/15/2021,10:00:00 AM,20.75315,64,9.904906,70.90651\r\n3/15/2021,11:00:00 AM,23.023151,54,12.661564,75.17352\r\n3/15/2021,12:00:00 PM,24.88315,46,12.864649,72.072075\r\n3/15/2021,1:00:00 PM,25.16315,42,13.237039,67.61986\r\n3/15/2021,2:00:00 PM,26.64315,35,14.84318,67.166336\r\n3/15/2021,3:00:00 PM,27.81315,29,20.082708,75.465546\r\n3/15/2021,4:00:00 PM,27.693151,28,23.83896,75.12432\r\n3/15/2021,5:00:00 PM,26.943151,31,24.066206,68.03943\r\n3/15/2021,6:00:00 PM,25.49315,35,22.930048,67.86451\r\n3/15/2021,7:00:00 PM,23.863152,42,18.681883,64.9164\r\n3/15/2021,8:00:00 PM,23.07315,45,16.75064,61.782646\r\n3/15/2021,9:00:00 PM,22.58315,47,17.917007,67.55725\r\n3/15/2021,10:00:00 PM,21.873152,50,19.242327,72.58202\r\n3/15/2021,11:00:00 PM,21.293152,52,17.377226,76.827446\r\n3/16/2021,12:00:00 AM,20.683151,56,16.071491,74.40718\r\n3/16/2021,1:00:00 AM,19.97315,60,14.934577,74.62374\r\n3/16/2021,2:00:00 AM,19.343151,63,15.226764,83.21102\r\n3/16/2021,3:00:00 AM,18.55315,69,13.339445,86.90593\r\n3/16/2021,4:00:00 AM,17.33315,80,12.413477,60.46122\r\n3/16/2021,5:00:00 AM,16.953152,85,11.91812,64.98311\r\n3/16/2021,6:00:00 AM,16.593151,90,11.966953,68.83874\r\n3/16/2021,7:00:00 AM,16.363152,94,11.384199,71.56504\r\n3/16/2021,8:00:00 AM,16.363152,93,11.841756,70.46334\r\n3/16/2021,9:00:00 AM,16.923151,89,11.298495,67.52056\r\n3/16/2021,10:00:00 AM,17.963152,83,11.592895,64.23067\r\n3/16/2021,11:00:00 AM,19.283152,73,11.681987,56.30993\r\n3/16/2021,12:00:00 PM,19.49315,70,11.753876,49.96974\r\n3/16/2021,1:00:00 PM,20.703152,65,12.738099,47.29059\r\n3/16/2021,2:00:00 PM,21.863152,59,13.608762,52.52382\r\n3/16/2021,3:00:00 PM,22.39315,56,14.57889,57.094757\r\n3/16/2021,4:00:00 PM,23.273151,50,22.127556,68.02549\r\n3/16/2021,5:00:00 PM,23.24315,49,22.427162,71.27421\r\n3/16/2021,6:00:00 PM,22.693151,49,21.518847,72.474434\r\n3/16/2021,7:00:00 PM,21.63315,53,17.068707,62.354027\r\n3/16/2021,8:00:00 PM,20.603151,58,14.113652,52.25319\r\n3/16/2021,9:00:00 PM,19.793152,62,12.496718,48.503525\r\n3/16/2021,10:00:00 PM,19.14315,65,11.480557,41.18593\r\n3/16/2021,11:00:00 PM,18.66315,67,10.514218,38.047028\r\n3/17/2021,12:00:00 AM,18.25315,69,8.714677,38.290146\r\n3/17/2021,1:00:00 AM,17.873152,71,7.4128532,29.05458\r\n3/17/2021,2:00:00 AM,17.57315,72,7.5685663,25.34616\r\n3/17/2021,3:00:00 AM,17.32315,74,7.4128532,29.05458\r\n3/17/2021,4:00:00 AM,16.91315,77,7.653705,48.81407\r\n3/17/2021,5:00:00 AM,16.363152,81,7.42159,39.09384\r\n3/17/2021,6:00:00 AM,15.903151,85,8.209263,37.87497\r\n3/17/2021,7:00:00 AM,15.803151,87,7.5942082,31.42955\r\n3/17/2021,8:00:00 AM,16.953152,81,9.290511,35.53766\r\n3/17/2021,9:00:00 AM,18.74315,73,11.457958,43.726974\r\n3/17/2021,10:00:00 AM,20.82315,64,14.113652,52.25319\r\n3/17/2021,11:00:00 AM,21.613152,58,15.463246,65.22487\r\n3/17/2021,12:00:00 PM,23.623152,50,16.45007,66.8014\r\n3/17/2021,1:00:00 PM,24.66315,45,17.87718,64.98311\r\n3/17/2021,2:00:00 PM,25.513151,41,19.008547,65.37643\r\n3/17/2021,3:00:00 PM,26.013151,40,18.681883,64.9164\r\n3/17/2021,4:00:00 PM,25.793152,40,18.448023,72.97948\r\n3/17/2021,5:00:00 PM,24.89315,41,18.388212,66.94869\r\n3/17/2021,6:00:00 PM,24.183151,43,17.917007,67.55725\r\n3/17/2021,7:00:00 PM,22.963152,46,14.512064,66.61478\r\n3/17/2021,8:00:00 PM,22.14315,49,12.43434,67.89055\r\n3/17/2021,9:00:00 PM,21.22315,52,11.966954,74.29136\r\n3/17/2021,10:00:00 PM,20.213152,56,11.726277,72.1213\r\n3/17/2021,11:00:00 PM,19.38315,60,10.144082,62.52556\r\n3/18/2021,12:00:00 AM,18.83315,64,9.387651,57.5288\r\n3/18/2021,1:00:00 AM,18.423151,66,9.504272,52.696053\r\n3/18/2021,2:00:00 AM,18.043152,68,9.957108,49.398697\r\n3/18/2021,3:00:00 AM,17.613152,70,9.957108,49.398697\r\n3/18/2021,4:00:00 AM,17.08315,73,7.4128532,29.05458\r\n3/18/2021,5:00:00 AM,16.55315,77,6.439876,26.565033\r\n3/18/2021,6:00:00 AM,16.123152,80,6.9527545,21.250488\r\n3/18/2021,7:00:00 AM,16.06315,81,7.172949,17.525558\r\n3/18/2021,8:00:00 AM,17.58315,72,9.387651,32.47119\r\n3/18/2021,9:00:00 AM,19.50315,65,11.457958,46.27301\r\n3/18/2021,10:00:00 AM,21.273151,59,12.181624,55.840294\r\n3/18/2021,11:00:00 AM,23.173151,51,13.202726,64.13365\r\n3/18/2021,12:00:00 PM,24.98315,44,14.84318,67.166336\r\n3/18/2021,1:00:00 PM,26.23315,39,16.854767,70.016884\r\n3/18/2021,2:00:00 PM,26.963152,35,18.58451,68.404686\r\n3/18/2021,3:00:00 PM,27.23315,33,19.255793,69.19321\r\n3/18/2021,4:00:00 PM,26.953152,33,19.134262,85.683975\r\n3/18/2021,5:00:00 PM,26.32315,35,19.296133,75.96376\r\n3/18/2021,6:00:00 PM,25.40315,37,18.214718,71.56504\r\n3/18/2021,7:00:00 PM,24.183151,40,15.141414,71.995834\r\n3/18/2021,8:00:00 PM,23.043152,45,13.661038,71.56504\r\n3/18/2021,9:00:00 PM,21.91315,49,12.43434,67.89055\r\n3/18/2021,10:00:00 PM,20.90315,54,11.966954,74.29136\r\n3/18/2021,11:00:00 PM,19.933151,59,12.144331,78.023865\r\n3/19/2021,12:00:00 AM,19.173151,63,10.739833,76.42956\r\n3/19/2021,1:00:00 AM,18.64315,67,9.449572,72.255325\r\n3/19/2021,2:00:00 AM,18.33315,69,9.178235,64.440025\r\n3/19/2021,3:00:00 AM,17.97315,71,8.699793,65.55604\r\n3/19/2021,4:00:00 AM,18.013151,73,8.78872,55.007973\r\n3/19/2021,5:00:00 AM,17.33315,79,8.714677,51.70984\r\n3/19/2021,6:00:00 AM,16.72315,84,7.653705,48.81407\r\n3/19/2021,7:00:00 AM,16.32315,87,7.653705,41.18593\r\n3/19/2021,8:00:00 AM,17.57315,82,10.691453,44.999985\r\n3/19/2021,9:00:00 AM,19.423151,73,12.984975,43.876694\r\n3/19/2021,10:00:00 AM,21.433151,62,15.349684,50.71057\r\n3/19/2021,11:00:00 AM,23.15315,53,16.299694,59.4703\r\n3/19/2021,12:00:00 PM,24.49315,46,16.746773,64.53666\r\n3/19/2021,1:00:00 PM,25.55315,41,17.727943,66.037506\r\n3/19/2021,2:00:00 PM,26.423151,38,18.11841,69.04422\r\n3/19/2021,3:00:00 PM,26.923151,35,19.137648,73.61045\r\n3/19/2021,4:00:00 PM,26.58315,36,22.963936,76.39945\r\n3/19/2021,5:00:00 PM,25.513151,40,21.53089,69.443954\r\n3/19/2021,6:00:00 PM,24.22315,44,20.799152,66.54097\r\n3/19/2021,7:00:00 PM,22.80315,50,16.58346,62.878693\r\n3/19/2021,8:00:00 PM,21.943151,53,15.277749,55.560997\r\n3/19/2021,9:00:00 PM,21.103151,57,15.192682,53.673157\r\n3/19/2021,10:00:00 PM,20.043152,63,14.565548,50.013107\r\n3/19/2021,11:00:00 PM,19.623152,66,13.044722,50.599335\r\n3/20/2021,12:00:00 AM,18.98315,69,11.246759,50.194427\r\n3/20/2021,1:00:00 AM,18.683151,70,11.090103,54.2461\r\n3/20/2021,2:00:00 AM,18.40315,71,11.753877,62.65013\r\n3/20/2021,3:00:00 AM,18.23315,72,13.779114,70.14478\r\n3/20/2021,4:00:00 AM,17.15315,76,8.714677,51.70984\r\n3/20/2021,5:00:00 AM,16.343151,82,8.209263,52.125\r\n3/20/2021,6:00:00 AM,16.33315,83,8.287822,55.61966\r\n3/20/2021,7:00:00 AM,16.293152,86,8.707237,60.25511\r\n3/20/2021,8:00:00 AM,16.50315,88,9.360001,67.380135\r\n3/20/2021,9:00:00 AM,17.593151,82,11.298495,59.34932\r\n3/20/2021,10:00:00 AM,20.193151,69,14.386494,58.29856\r\n3/20/2021,11:00:00 AM,22.40315,57,16.263872,62.30053\r\n3/20/2021,12:00:00 PM,24.263151,48,17.87718,64.98311\r\n3/20/2021,1:00:00 PM,25.603151,42,19.813087,65.29757\r\n3/20/2021,2:00:00 PM,26.22315,39,21.096123,64.74683\r\n3/20/2021,3:00:00 PM,26.50315,38,20.945072,65.63754\r\n3/20/2021,4:00:00 PM,26.25315,38,22.553936,61.38954\r\n3/20/2021,5:00:00 PM,25.08315,42,21.434364,60.851913\r\n3/20/2021,6:00:00 PM,23.863152,46,21.749481,65.55604\r\n3/20/2021,7:00:00 PM,22.283152,54,19.008547,65.37643\r\n3/20/2021,8:00:00 PM,21.423151,59,15.496736,59.26451\r\n3/20/2021,9:00:00 PM,20.49315,65,16.704155,52.88314\r\n3/20/2021,10:00:00 PM,20.193151,67,16.78156,54.605194\r\n3/20/2021,11:00:00 PM,19.57315,70,16.78156,54.605194\r\n3/21/2021,12:00:00 AM,19.38315,71,15.192682,53.673157\r\n3/21/2021,1:00:00 AM,19.05315,73,14.386494,58.29856\r\n3/21/2021,2:00:00 AM,18.603151,76,15.617529,64.02559\r\n3/21/2021,3:00:00 AM,18.16315,79,15.459054,62.241455\r\n3/21/2021,4:00:00 AM,17.72315,81,11.770403,66.571304\r\n3/21/2021,5:00:00 AM,17.40315,84,12.245293,65.69545\r\n3/21/2021,6:00:00 AM,16.99315,87,11.165805,69.22774\r\n3/21/2021,7:00:00 AM,16.33315,93,10.483357,74.054596\r\n3/21/2021,8:00:00 AM,16.31315,93,9.793058,72.89727\r\n3/21/2021,9:00:00 AM,16.873152,90,9.983106,64.358986\r\n3/21/2021,10:00:00 AM,17.953152,84,11.246759,50.194427\r\n3/21/2021,11:00:00 AM,20.38315,70,14.565548,39.986877\r\n3/21/2021,12:00:00 PM,21.673151,63,15.530151,44.06079\r\n3/21/2021,1:00:00 PM,22.13315,59,15.072783,49.843994\r\n3/21/2021,2:00:00 PM,22.533152,56,15.9134655,52.352364\r\n3/21/2021,3:00:00 PM,22.773151,55,16.87398,56.30993\r\n3/21/2021,4:00:00 PM,22.50315,55,17.595861,59.237274\r\n3/21/2021,5:00:00 PM,21.97315,57,17.477621,57.619316\r\n3/21/2021,6:00:00 PM,21.793152,58,17.0763,55.304832\r\n3/21/2021,7:00:00 PM,20.80315,62,13.18308,55.007973\r\n3/21/2021,8:00:00 PM,20.103151,65,11.592894,53.841812\r\n3/21/2021,9

In [ ]:
import io

In [ ]:
df = pd.read_csv(io.StringIO(uploaded['weatherdata.csv'].decode('utf-8')))

Checking dataframe head

In [ ]:
df.head()

       Date  ... Nairobi Wind Direction [10 m]
0  3/7/2021  ...                     38.659805
1  3/7/2021  ...                     29.744873
2  3/7/2021  ...                     25.463333
3  3/7/2021  ...                     27.758530
4  3/7/2021  ...                     30.465546

[5 rows x 6 columns]

Checking the columns in the dataframe

In [ ]:
df.columns

Index(['Date', 'Time', 'Nairobi Temperature [2 m elevation corrected]',
       'Nairobi Relative Humidity [2 m]', 'Nairobi Wind Speed [10 m]',
       'Nairobi Wind Direction [10 m]'],
      dtype='object')

shape of the dataframe

In [ ]:

df.shape

(360, 6)

dataset description

In [ ]:
df.describe()

       Nairobi Temperature [2 m elevation corrected]  ...  Nairobi Wind Direction [10 m]
count                                     360.000000  ...                     360.000000
mean                                       21.165401  ...                      59.721306
std                                         3.648740  ...                      13.658555
min                                        15.363151  ...                      10.007980
25%                                        18.075650  ...                      52.125006
50%                                        20.633150  ...                      63.434950
75%                                        24.365651  ...                      69.239416
max                                        28.493150  ...                      86.905930

[8 rows x 4 columns]

from this the mean of the temperature is approx 20 and deviation is 3

checking for any missing values

In [ ]:
df.isnull().any()

Date                                             False
Time                                             False
Nairobi Temperature [2 m elevation corrected]    False
Nairobi Relative Humidity [2 m]                  False
Nairobi Wind Speed [10 m]                        False
Nairobi Wind Direction [10 m]                    False
dtype: bool

from that there are no missing values in the dataset

separating the temperature column for processing

In [ ]:
df_num = df[list(df.dtypes[df.dtypes!='object'].index)]

In [ ]:
y= df_num.pop('Nairobi Temperature [2 m elevation corrected]')
x= df_num

splitting the dataset into training and testing

In [ ]:
train_x,test_x,train_y, test_y = train_test_split(x,y,test_size = 0.2, random_state = 4)

In [ ]:
train_x.head()

     Nairobi Relative Humidity [2 m]  ...  Nairobi Wind Direction [10 m]
45                                53  ...                      65.323135
303                               35  ...                      73.610450
100                               75  ...                      50.194427
188                               38  ...                      78.407820
33                                62  ...                      43.451828

[5 rows x 3 columns]

from the split, train_x has all features except Nairobi Temperature [2 m elevation corrected]

implementing the first model- Linear Regression

In [ ]:
model = LinearRegression()
model.fit(train_x,train_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
prediction = model.predict(test_x)

In [ ]:
##calculating the  error
np.mean((prediction-test_y)**2)

0.5071259084980397

the error for this model is ---0.5071259084980397

implementing another model--Polynomial Regression

In [ ]:
from sklearn.preprocessing import PolynomialFeatures

poly = PolynomialFeatures(degree = 4)
x_poly = poly.fit_transform(train_x)

poly.fit(x_poly, train_y)
lin2 = LinearRegression()
lin2.fit(x_poly, train_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
prediction2 = lin2.predict(poly.fit_transform(test_x))
##error calculation
np.mean((prediction2-test_y)**2)

0.2898585222536153

for this model the error is much less compared to the first model--0.2898585222536153

Implementing the next model--Decision Tree Regression-CART

In [ ]:
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor(random_state=0)
regressor.fit(train_x, train_y)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=0, splitter='best')

In [ ]:
prediction3 = regressor.predict(test_x)
np.mean((prediction3-test_y)**2)

0.9269665377790276

for this model the error is much less compared to the first model--0.9269665377790276

In [ ]:
pd.DataFrame({'actual':test_y,
              'prediction':prediction3,
              'diff':(test_y-prediction3)})

        actual  prediction      diff
227  19.283152   19.253150  0.030002
209  26.943151   25.493150  1.450001
307  22.803150   23.343151 -0.540001
14   27.053150   26.873152  0.179998
334  20.193151   19.573150  0.620001
..         ...         ...       ...
70   20.593151   20.053150  0.540001
244  16.913150   16.303150  0.610000
331  22.283152   21.633150  0.650002
153  18.803150   19.573150 -0.770000
262  20.213152   19.573150  0.640002

[72 rows x 3 columns]

Implementation of Random Forest with a max depth of 10

In [ ]:
from sklearn.ensemble import RandomForestRegressor
reg = RandomForestRegressor(max_depth=10, random_state=0, n_estimators=100)
reg.fit(train_x, train_y)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=10, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=0, verbose=0, warm_start=False)

In [ ]:
prediction4 =reg.predict(test_x)
np.mean((prediction4-test_y)**2)

0.4880015922997202

In [ ]:
pd.DataFrame({'actual':test_y,
              'prediction':prediction4,
              'diff':(test_y-prediction4)})

        actual  prediction      diff
227  19.283152   18.901562  0.381590
209  26.943151   26.241970  0.701181
307  22.803150   23.157325 -0.354175
14   27.053150   26.618941  0.434209
334  20.193151   19.756686  0.436465
..         ...         ...       ...
70   20.593151   20.775434 -0.182283
244  16.913150   17.255639 -0.342489
331  22.283152   21.980540  0.302612
153  18.803150   19.585747 -0.782597
262  20.213152   19.840212  0.372940

[72 rows x 3 columns]

the Random Forest has provided the lowest error of ---0.4880015922997202